<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			
			<!-- iframe height resize from: https://www.sitepoint.com/community/t/auto-height-iframe-content-script/67843 -->
			<script language="javascript" type="text/javascript">
			 function resizeIframe(obj)
			 {
			   obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
			   obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
			 }
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><small>&copy; 2019 quintuplin</small></li>
	        		<li><a href="mailto:quintuplin12@gmail.com">email</a></li>
	        		<li><a href="https://github.com/quintuplin">github.com/quintuplin</a></li>
				</ul>
			</footer>
		</body>
	</html>
